


#about img {
  width: 300px;
  border-radius: 10px;
  box-shadow: 20px 20px 20px #000;
}

#about img:hover {
  width: 350px;
  transition: all .5s ease;
}



#about span {
  font-size: 18px;
  text-decoration: none;
  color: rgb(239, 6, 111);
}


